[
  {
    "group": "core",
    "ip" : "45.55.49.134",
    "name": "db",
    "login": "root",
    "dataMount": "/usr",
    "cores": 2,
    "memory": 4096,
    "arch": "x86"
  },
  {
    "group": "core",
    "ip" : "45.55.49.134",
    "name": "swarm",
    "login": "root",
    "dataMount": "/usr",
    "cores": 2,
    "memory": 4096,
    "arch": "x86"
  },
  {
    "group": "services",
    "ip" : "45.55.49.134",
    "name": "services1",
    "login": "root",
    "dataMount": "/usr",
    "cores": 2,
    "memory": 4096,
    "arch": "x86"
  },
  {
    "group": "services",
    "ip" : "45.55.49.134",
    "name": "services2",
    "login": "root",
    "dataMount": "/usr",
    "cores": 2,
    "memory": 4096,
    "arch": "x86"
  }
]
