{
  "release": "",
  "installMode": "local",
  "masterIntegrations": [
    {
      "type": "scm",
      "name": "Git store"
    },
    {
      "name": "braintree",
      "type": "payment"
    },
    {
      "name": "amazons3",
      "type": "cloudproviders"
    },
    {
      "name": "github",
      "type": "auth"
    },
    {
      "name": "bitbucket",
      "type": "auth"
    },
    {
      "name": "github",
      "type": "scm"
    },
    {
      "name": "bitbucket",
      "type": "scm"
    },
    {
      "name": "ECR",
      "type": "hub"
    },
    {
      "name": "bitbucketServer",
      "type": "auth"
    },
    {
      "type": "scm",
      "name": "bitbucketServer"
    }
  ],
  "systemIntegrations": [
    {
      "name": "github.com",
      "masterName": "github",
      "masterType": "auth",
      "formJSONValues": [
        {
          "value": "superSecret",
          "label": "clientSecret"
        },
        {
          "value": "someClientId",
          "label": "clientId"
        },
        {
          "label": "http://localhost:50001",
          "value": "wwwUrl"
        },
        {
          "value": "https://api.github.com",
          "label": "url"
        }
      ]
    },
    {
      "name": "bitbucket server auth",
      "masterName": "bitbucketServer",
      "masterType": "auth",
      "formJSONValues": [
        {
          "value": "superSecret",
          "label": "clientSecret"
        },
        {
          "value": "someClientId",
          "label": "clientId"
        },
        {
          "value": "https://api.bbs.com",
          "label": "url"
        },
        {
          "value": "https://mybbs.com",
          "label": "wwwUrl"
        }
      ]
    },
    {
      "name": "Internal Shippable ECR",
      "masterName": "ECR",
      "masterType": "hub",
      "formJSONValues": [
        {
          "value": null,
          "label": "aws_access_key_id"
        },
        {
          "value": null,
          "label": "aws_secret_access_key"
        }
      ]
    },
    {
      "name": "gitlab",
      "masterName": "Git store",
      "masterType": "scm",
      "formJSONValues": [
        {
          "label": "username",
          "value": "root"
        },
        {
          "label": "subscriptionProjectLimit",
          "value": "100"
        },
        {
          "label": "password",
          "value": "shippable1234"
        },
        {
          "label": "url",
          "value": "http://172.17.42.1/api/v3"
        },
        {
          "label": "sshPort",
          "value": "22"
        }
      ]
    },
    {
      "name": "AWS",
      "masterName": "AWS",
      "masterType": "cloudproviders",
      "formJSONValues": [
       {
         "label": "accessKey",
         "value": "xxxx"
       },
       {
         "label": "secretKey",
         "value": "xxxx"
       }
      ]
    }
  ],
  "services": [
    {
      "name": "api",
      "url": "",
      "status": "running",
      "port": "--publish 50000:50000/tcp",
      "env": "-e FOO=bar -e FOO1=bar1",
      "opts": "--mode global --network ingress"
    }
  ],
  "systemSettings": {
    "systemImagesRegistry": "374168611083.dkr.ecr.us-east-1.amazonaws.com",
    "serviceUserToken": "",
    "swarmWorkerToken": "",
    "vaultToken": "",
    "runShImage": "shipimg/runsh:master.12392",
    "wwwUrl": "http://localhost:50001",
    "dynamicNodesSystemIntegrationId": "5745a34a25cf521200e83fe9",
    "stepExecImage": "shipimg/micro50:stepExec",
    "dbPassword": "testing1234",
    "cachingEnabled": false,
    "defaultPipelineCount": 1,
    "serverEnabled": true,
    "apiUrl": "http://172.17.42.1:50000",
    "dbDialect": "postgres",
    "amqpUrl": "amqp://SHIPPABLETESTUSER:SHIPPABLETESTPASS@172.17.42.1:5672/shippable",
    "amqpUrlRoot": "amqp://SHIPPABLETESTUSER:SHIPPABLETESTPASS@172.17.42.1:5672/shippableRoot",
    "amqpUrlAdmin": "http://SHIPPABLETESTUSER:SHIPPABLETESTPASS@172.17.42.1:15672",
    "amqpDefaultExchange": "shippableEx",
    "vaultUrl": "http://172.17.42.1:8200",
    "execImage": "shipimg/mexec:master.3859",
    "apiPort": 50000,
    "defaultPrivateJobQuota": 150,
    "runMode": "dev",
    "hubspotEnabled": false,
    "noProxy": "",
    "httpsProxy": "",
    "domain": "localhost",
    "vaultRefreshTimeInSec": 900,
    "dbname": "shipdb",
    "redisUrl": "172.17.42.1:6379",
    "defaultMinionCount": 1,
    "dbUrl": "172.17.42.1:5432",
    "dbUsername": "apiuser",
    "rootQueueList": "www.sockets|core.iscan|iscan.isync|iscan.esync|isync.autod|core.barge|barge.acs|barge.ddc|barge.dcl|barge.ecs|barge.gke|barge.triton|core.charon|versions.trigger|core.nf|nf.email|nf.hipchat|nf.irc|nf.slack|nf.webhook|core.braintree|core.certgen|core.hubspotSync|core.marshaller|marshaller.ec2|core.sync|job.request|job.trigger|micro.ini|cluster.init|steps.deploy|steps.manifest|steps.rSync|steps.release",
    "dbPort": "5432",
    "httpProxy": "",
    "buildTimeoutMS": 3600000,
    "dbHost": "172.17.42.1",
    "installerAccessKey": "",
    "installerSecretKey" : "",
    "consoleCleanupHour": 0,
    "consoleMaxLifespan": 0,
    "allowSystemNodes": true,
    "allowDynamicNodes": true,
    "allowCustomNodes": true,
    "customHostDockerVersion": "1.12.1"
  },
  "machines": [
    {
      "name": "db",
      "ip": "45.55.49.134",
      "keysUpdated": "false",
      "sshSuccessful": "false",
      "isConsistent": "false"
    },
    {
      "name": "swarm",
      "ip": "45.55.49.134",
      "keysUpdated": "false",
      "sshSuccessful": "false",
      "isConsistent": "false"
    },
    {
      "name": "services1",
      "ip": "45.55.49.134",
      "keysUpdated": "false",
      "sshSuccessful": "false",
      "isConsistent": "false"
    },
    {
      "name": "services2",
      "ip": "45.55.49.134",
      "keysUpdated": "false",
      "sshSuccessful": "false",
      "isConsistent": "false"
    }
  ],
  "installStatus": {
    "machinesSSHSuccessful": false,
    "machinesBootstrapped": false,
    "databaseInstalled": false,
    "databaseInitialized": false,
    "vaultInstalled": false,
    "vaultInitialized": false,
    "rabbitmqInstalled": false,
    "rabbitmqInitialized": false,
    "gitlabInstalled": false,
    "gitlabInitialized": false,
    "dockerInstalled": false,
    "dockerInitialized": false,
    "composeInstalled": false,
    "swarmInstalled": false,
    "swarmInitialized": false,
    "redisInstalled": false,
    "redisInitialized": false,
    "serviceuserTokenGenerated": false,
    "systemConfigUpdated": false
  }
}
