{
  "release": "",
  "deployTag": "",
  "installMode": "local",
  "isUpgrade": false,
  "masterIntegrations": [
    {
      "name": "S3",
      "type": "artifact"
    },
    {
      "name": "bitbucket",
      "type": "auth"
    },
    {
      "name": "bitbucketServer",
      "type": "auth"
    },
    {
      "name": "github",
      "type": "auth"
    },
    {
      "name": "githubEnterprise",
      "type": "auth"
    },
    {
      "name": "AWS",
      "type": "cloudproviders"
    },
    {
      "name": "ACS",
      "type": "deploy"
    },
    {
      "name": "AWS",
      "type": "deploy"
    },
    {
      "name": "AWS_IAM",
      "type": "deploy"
    },
    {
      "name": "CLUSTER",
      "type": "deploy"
    },
    {
      "name": "DCL",
      "type": "deploy"
    },
    {
      "name": "DDC",
      "type": "deploy"
    },
    {
      "name": "GKE",
      "type": "deploy"
    },
    {
      "name": "TRIPUB",
      "type": "deploy"
    },
    {
      "name": "Jenkins",
      "type": "externalci"
    },
    {
      "name": "artifactory",
      "type": "hub"
    },
    {
      "name": "Docker",
      "type": "hub"
    },
    {
      "name": "Docker Trusted Registry",
      "type": "hub"
    },
    {
      "name": "ECR",
      "type": "hub"
    },
    {
      "name": "GCR",
      "type": "hub"
    },
    {
      "name": "Private Docker Registry",
      "type": "hub"
    },
    {
      "name": "Quay.io",
      "type": "hub"
    },
    {
      "name": "pem-key",
      "type": "key"
    },
    {
      "name": "ssh-key",
      "type": "key"
    },
    {
      "name": "Email",
      "type": "notification"
    },
    {
      "name": "gmail",
      "type": "notification"
    },
    {
      "name": "hipchat",
      "type": "notification"
    },
    {
      "name": "mailgun",
      "type": "notification"
    },
    {
      "name": "Slack",
      "type": "notification"
    },
    {
      "name": "SMTP",
      "type": "notification"
    },
    {
      "name": "webhook",
      "type": "notification"
    },
    {
      "name": "irc",
      "type": "notification"
    },
    {
      "name": "braintree",
      "type": "payment"
    },
    {
      "name": "bitbucket",
      "type": "scm"
    },
    {
      "name": "bitbucketServer",
      "type": "scm"
    },
    {
      "name": "ghe",
      "type": "scm"
    },
    {
      "name": "github",
      "type": "scm"
    },
    {
      "name": "Git store",
      "type": "scm"
    },
    {
      "name": "gitlab",
      "type": "scm"
    },
    {
      "name": "hubspot",
      "type": "mktg"
    }
  ],
  "systemIntegrations": [
    {
      "name": "bitbucket server auth",
      "masterName": "bitbucketServer",
      "masterType": "auth",
      "formJSONValues": [
        {
          "value": "superSecret",
          "label": "clientSecret"
        },
        {
          "value": "someClientId",
          "label": "clientId"
        },
        {
          "value": "https://api.bbs.com",
          "label": "url"
        },
        {
          "value": "https://mybbs.com",
          "label": "wwwUrl"
        }
      ]
    },
    {
      "name": "github enterprise auth",
      "masterName": "githubEnterprise",
      "masterType": "auth",
      "formJSONValues": [
        {
          "value": "superSecret",
          "label": "clientSecret"
        },
        {
          "value": "someClientId",
          "label": "clientId"
        },
        {
          "value": "url",
          "label": "url"
        },
        {
          "value": "wwwUrl",
          "label": "wwwUrl"
        }
      ]
    },
    {
      "name": "github.com",
      "masterName": "github",
      "masterType": "auth",
      "formJSONValues": [
        {
          "label": "clientId",
          "value": "secretClientId"
        },
        {
          "label": "clientSecret",
          "value": "xxx"
        },
        {
          "label": "wwwUrl",
          "value": "http://localhost:50001"
        },
        {
          "label": "url",
          "value": "https://api.github.com"
        }
      ]
    },
    {
      "name": "bitbucket.com",
      "masterName": "bitbucket",
      "masterType": "auth",
      "formJSONValues": [
        {
          "label": "clientId",
          "value": "secretClientId"
        },
        {
          "label": "clientSecret",
          "value": "xxx"
        },
        {
          "label": "wwwUrl",
          "value": "http://localhost:50001"
        },
        {
          "label": "url",
          "value": "https://bitbucket.org"
        }
      ]
    },
    {
      "name": "gitlab",
      "masterName": "Git store",
      "masterType": "scm",
      "formJSONValues": [
        {
          "label": "username",
          "value": "root"
        },
        {
          "label": "subscriptionProjectLimit",
          "value": "100"
        },
        {
          "label": "password",
          "value": "shippable1234"
        },
        {
          "label": "url",
          "value": "http://172.17.42.1/api/v3"
        },
        {
          "label": "sshPort",
          "value": "22"
        }
      ]
    },
    {
      "name": "AWS",
      "masterName": "AWS",
      "masterType": "cloudproviders",
      "formJSONValues": [
       {
         "label": "accessKey",
         "value": "xxxx"
       },
       {
         "label": "secretKey",
         "value": "xxxx"
       }
      ]
    },
    {
      "name": "smtp",
      "masterName": "SMTP",
      "masterType": "notification",
      "formJSONValues": [
        {
          "label": "emailAuthUser",
          "value": ""
        },
        {
          "label": "emailAuthPassword",
          "value": "xxx"
        },
        {
          "label": "emailSender",
          "value": "noreply@shippable.com"
        },
        {
          "label": "host",
          "value": ""
        },
        {
          "label": "port",
          "value": ""
        },
        {
          "label": "secure",
          "value": ""
        },
        {
          "label": "hostname",
          "value": ""
        },
        {
          "label": "proxy",
          "value": ""
        }
      ]
    },
    {
      "name": "mailgun",
      "masterName": "mailgun",
      "masterType": "notification",
      "formJSONValues": [
        {
          "label": "apiKey",
          "value": ""
        },
        {
          "label": "domain",
          "value": "xxx"
        },
        {
          "label": "emailSender",
          "value": "noreply@shippable.com"
        },
        {
          "label": "proxy",
          "value": ""
        }
      ]
    },
    {
      "name": "gmail",
      "masterName": "gmail",
      "masterType": "notification",
      "formJSONValues": [
        {
          "label": "username",
          "value": ""
        },
        {
          "label": "password",
          "value": "xxx"
        },
        {
          "label": "emailSender",
          "value": "noreply@shippable.com"
        },
        {
          "label": "proxy",
          "value": ""
        }
      ]
    },
    {
      "name": "s3",
      "masterName": "S3",
      "masterType": "artifact",
      "formJSONValues": [
        {
          "value": "xxx",
          "label": "accessKey"
        },
        {
          "value": "xxx",
          "label": "secretKey"
        },
        {
          "value": "",
          "label": "region"
        }
      ]
    },
    {
      "formJSONValues": [
        {
          "value": "",
          "label": "braintreeMerchantId"
        },
        {
          "value": "",
          "label": "braintreePrivateKey"
        },
        {
          "value": "",
          "label": "braintreeEnvironment"
        },
        {
          "value": "",
          "label": "braintreePublicKey"
        }
      ],
      "masterDisplayName": "braintree",
      "masterName": "braintree",
      "masterType": "payment",
      "name": "braintree"
    },
    {
      "name": "hubspot",
      "masterName": "hubspot",
      "masterType": "mktg",
      "formJSONValues": [
        {
          "label": "hubspotApiEndPoint",
          "value": ""
        },
        {
          "label": "hubspotApiToken",
          "value": "xxx"
        }
      ]
    }
  ],
  "systemMachineImages": [
    {
      "externalId": "ami-abcdefgh",
      "provider": "AWS",
      "description": "Stable AMI",
      "name": "Stable",
      "isAvailable": true,
      "isDefault": true,
      "region": "us-east-1",
      "keyName": "shippable-beta",
      "securityGroup": "sg-123456",
      "subnetId": "subnet-123456"
    }
  ],
  "services": [],
  "systemSettings": {
    "systemImagesRegistry": "374168611083.dkr.ecr.us-east-1.amazonaws.com",
    "serviceUserToken": "",
    "swarmWorkerToken": "",
    "vaultToken": "",
    "wwwUrl": "http://localhost:50001",
    "dynamicNodesSystemIntegrationId": "5745a34a25cf521200e83fe9",
    "dbPassword": "testing1234",
    "defaultPipelineCount": 1,
    "serverEnabled": false,
    "autoSelectBuilderToken": true,
    "apiUrl": "http://172.17.42.1:50000",
    "dbDialect": "postgres",
    "amqpUrl": "amqp://SHIPPABLETESTUSER:SHIPPABLETESTPASS@172.17.42.1:5672/shippable",
    "amqpUrlRoot": "amqp://SHIPPABLETESTUSER:SHIPPABLETESTPASS@172.17.42.1:5672/shippableRoot",
    "amqpUrlAdmin": "http://SHIPPABLETESTUSER:SHIPPABLETESTPASS@172.17.42.1:15672",
    "amqpDefaultExchange": "shippableEx",
    "vaultUrl": "http://172.17.42.1:8200",
    "apiPort": 50000,
    "defaultPrivateJobQuota": 150,
    "runMode": "dev",
    "noProxy": "",
    "httpsProxy": "",
    "vaultRefreshTimeInSec": 900,
    "dbname": "shipdb",
    "redisUrl": "172.17.42.1:6379",
    "defaultMinionCount": 1,
    "dbUrl": "172.17.42.1:5432",
    "dbUsername": "apiuser",
    "rootQueueList": "www.sockets|core.iscan|iscan.isync|iscan.esync|isync.autod|core.barge|barge.acs|barge.ddc|barge.dcl|barge.ecs|barge.gke|barge.triton|core.charon|versions.trigger|core.nf|nf.email|nf.hipchat|nf.irc|nf.slack|nf.webhook|core.braintree|core.certgen|core.hubspotSync|core.marshaller|marshaller.ec2|core.sync|job.request|job.trigger|micro.ini|cluster.init|steps.deploy|steps.manifest|steps.rSync|steps.release",
    "dbPort": "5432",
    "httpProxy": "",
    "buildTimeoutMS": 3600000,
    "dbHost": "172.17.42.1",
    "installerAccessKey": "",
    "installerSecretKey" : "",
    "consoleCleanupHour": 0,
    "consoleMaxLifespan": 0,
    "allowSystemNodes": true,
    "allowDynamicNodes": true,
    "allowCustomNodes": true,
    "customHostDockerVersion": "1.9.1",
    "ircBotNick": "shippable",
    "systemNodePrivateKey": "",
    "systemNodePublicKey": "",
    "hubspotShipTimeLimit": 10,
    "hubspotListId": 123,
    "hubspotShouldSimulate": "true",
    "shippableAwsAccountId": "123456"
  },
  "machines": [],
  "installStatus": {
    "machinesSSHSuccessful": false,
    "replicasConfigured": false,
    "machinesBootstrapped": false,
    "databaseInstalled": false,
    "databaseInitialized": false,
    "vaultInstalled": false,
    "vaultInitialized": false,
    "rabbitmqInstalled": false,
    "rabbitmqInitialized": false,
    "gitlabInstalled": false,
    "gitlabInitialized": false,
    "dockerInstalled": false,
    "dockerInitialized": false,
    "composeInstalled": false,
    "swarmInstalled": false,
    "swarmInitialized": false,
    "redisInstalled": false,
    "redisInitialized": false,
    "serviceuserTokenGenerated": false
  }
}
