usr/machines.json
usr/state.json
scripts/local/data
scripts/local/gitlab
scripts/local/vault/scripts/keys.txt
scripts/local/vault/scripts/vaultToken.json
scripts/remote/credentials
data/machinekey*
data/config.json
data/machines.json
data/state.json
data/state.json.backup
scripts/remote/system_configs_data.sql
*.swp
*.swo
