{
  "installerVersion": "4.0.0",
  "shippableCustomerId" : "1234",
  "licenseKey": "secureLicenseKey",
  "release": "4.0.0",
  "systemSettings": {
    "domainProtocol": "http",
    "domain": "myserver.com",
    "defaultMinionCount": 1,
    "defaultPipelineCount": 1,
    "serverEnabled": true,
    "cachingEnabled": false,
    "hubspotEnabled": false,
    "buildTimeoutMS": 3600000,
    "defaultPrivateJobQuota": 150,
    "vaultRefreshTimeInSec": 900,
    "apiPort": 50000,
    "rootQueueList": "micro.vortex|micro.nf|core.nf|core.iscan|iscan.isync|iscan.esync|core.barge|micro.cu|micro.rpt|micro.ini|cluster.init|micro.su|formation.deploy|micro.buoy|nf.email|api.build.item.done|isync.autod|www.sockets|core.hubspotSync|nf.slack|min.build.item.queue|micro.ecs|nf.irc|core.marshaller|future.buildRequest|marshaller.ec2|micro.gke|marshaller.truck|job.trigger|nf.hipchat|micro.ebs|micro.dcl|nf.webhook|micro.ddc|micro.acs|barge.acs|barge.dcl|barge.ddc|barge.ebs|barge.ecs|barge.gke|barge.triton|job.request|core.braintree|core.certgen|core.sync|versions.trigger|steps.manifestSteps|steps.runCISteps|steps.runShSteps|steps.releaseSteps|steps.rSyncSteps|steps.deploySteps|core.charon",
    "runMode": "dev",
    "apiUrl": "http://api.myserver.com",
    "wwwUrl": "http://myserver.com",
    "dockerlogin": "test",
    "dockerpass": "testpass",
    "dockeremail": "test@test.com"
  },
  "systemIntegrations": [
    {
      "id": "574ee745d49b091400b76274",
      "name": "github.com",
      "formJSONValues": [
        {
          "label": "clientId",
          "value": "test"
        },
        {
          "label": "clientSecret",
          "value": "test"
        },
        {
          "label": "hostname",
          "value": "test"
        },
        {
          "label": "port",
          "value": "test"
        },
        {
          "label": "protocol",
          "value": "test"
        },
        {
          "label": "providerId",
          "value": "test"
        }
      ],
      "masterDisplayName": "github auth",
      "masterIntegrationId": "577de63321333398d11a35ac",
      "masterName": "github",
      "masterType": "auth",
      "isEnabled": true
    },
    {
      "id": "574ee745d49b091400b76275",
      "name": "bitbucket.com",
      "masterDisplayName": "bitbucket auth",
      "masterIntegrationId": "577de63321333398d11a35ad",
      "masterName": "bitbucket",
      "masterType": "auth",
      "formJSONValues": [
       {
         "label": "clientId",
         "value": "test"
       },
       {
         "label": "clientSecret",
         "value": "test"
       },
       {
         "label": "hostname",
         "value": "localhost"
       },
       {
         "label": "port",
         "value": "50001"
       },
       {
         "label": "protocol",
         "value": "http"
       },
       {
         "label": "providerId",
         "value": "562dbda348095b0d00ce6a43"
       }
      ],
      "isEnabled": true
    },
    {
      "id": "57cecf81c3d9bb70153d8247",
      "name": "amazons3",
      "masterDisplayName": "Amazon S3",
      "masterIntegrationId": "57cecf81c3d9bb70153d8249",
      "masterName": "amazons3",
      "masterType": "cloudproviders",
      "formJSONValues": [
       {
         "label": "bucketName",
         "value": "test"
       },
       {
         "label": "accessKey",
         "value": "test"
       },
       {
         "label": "secretKey",
         "value": "test"
       }
      ],
      "isEnabled": true
    },
    {
      "id": "57cecf81c3d9bb70153d8247",
      "name": "SMTP",
      "masterDisplayName": "SMTP",
      "masterIntegrationId": "57cecf81c3d9bb70153d8249",
      "masterName": "SMTP",
      "masterType": "notification",
      "formJSONValues": [
       {
         "label": "emailAuthUser",
         "value": "test"
       },
       {
         "label": "emailAuthPassword",
         "value": "test"
       },
       {
         "label": "emailSender",
         "value": "test"
       }
      ],
      "isEnabled": true
    },
    {
      "id": "57cecf81c3d9bb70153d8247",
      "name": "docker",
      "masterDisplayName": "hub",
      "masterIntegrationId": "57cecf81c3d9bb70153d8249",
      "masterName": "hub",
      "masterType": "hub",
      "formJSONValues": [
       {
         "label": "username",
         "value": "test"
       },
       {
         "label": "password",
         "value": "test"
       },
       {
         "label": "email",
         "value": "test"
       }
      ],
      "isEnabled": true
    }
  ],
  "services": [{
    "name": "api",
    "image": "shipimg/api50:server.5675",
    "envs": [
      "DBNAME",
      "DBUSERNAME",
      "DBPASSWORD",
      "DBHOST",
      "DBPORT",
      "DBDIALECT"
    ]
  },{
    "name": "www",
    "image": "shipimg/www50:server.5672",
    "envs": [
      "SHIPPABLE_API_TOKEN",
      "SHIPPABLE_VORTEX_URL",
      "SHIPPABLE_API_URL",
      "SHIPPABLE_WWW_PORT",
      "SHIPPABLE_WWW_URL",
      "SHIPPABLE_FE_URL",
      "LOG_LEVEL",
      "SHIPPABLE_RDS_URL",
      "SHIPPABLE_ROOT_AMQP_URL",
      "SHIPPABLE_AMQP_DEFAULT_EXCHANGE",
      "RUN_MODE",
      "SHIPPABLE_AWS_ACCOUNT_ID",
      "GITHUB_LINK_SYSINT_ID",
      "BITBUCKET_LINK_SYSINT_ID"
    ]
  },{
    "name": "sync",
    "image": "shipimg/micro50:sync.server.5298",
    "envs": [
      "BITBUCKET_CLIENT_ID",
      "BITBUCKET_CLIENT_SECRET",
      "SHIPPABLE_ROOT_AMQP_URL",
      "SHIPPABLE_AMQP_DEFAULT_EXCHANGE",
      "SHIPPABLE_API_URL",
      "SHIPPABLE_API_TOKEN",
      "RUN_MODE",
      "COMPONENT"
    ]
  },{
    "name": "jobTrigger",
    "image": "shipimg/micro50:jobTrigger.server.5298",
    "envs": [
      "SHIPPABLE_VORTEX_URL",
      "SHIPPABLE_WWW_URL",
      "SHIPPABLE_ROOT_AMQP_URL",
      "SHIPPABLE_AMQP_DEFAULT_EXCHANGE",
      "SHIPPABLE_API_URL",
      "SHIPPABLE_API_TOKEN",
      "RUN_MODE",
      "COMPONENT",
      "API_RETRY_INTERVAL"
    ]
  }]
}
