{
  "installerVersion": "4.0.0",
  "shippableCustomerId" : "1234",
  "licenseKey": "secureLicenseKey",
  "release": "4.0.0",
  "systemSettings": {
    "domainProtocol": "http",
    "domain": "myserver.com",
    "defaultMinionCount": 1,
    "defaultPipelineCount": 1,
    "serverEnabled": true,
    "cachingEnabled": false,
    "hubspotEnabled": false,
    "buildTimeoutMS": 3600000,
    "defaultPrivateJobQuota": 150,
    "vaultRefreshTimeInSec": 900,
    "apiPort": 50000,
    "rootQueueList": "www.sockets|core.iscan|iscan.isync|iscan.esync|isync.autod|core.barge|barge.acs|barge.ddc|barge.dcl|barge.ecs|barge.gke|barge.triton|core.charon|versions.trigger|core.nf|nf.email|nf.hipchat|nf.irc|nf.slack|nf.webhook|core.braintree|core.certgen|core.hubspotSync|core.marshaller|marshaller.ec2|core.sync|job.request|job.trigger|micro.ini|cluster.init|steps.deploy|steps.manifest|steps.rSync|steps.release",
    "runMode": "dev",
    "apiUrl": "http://api.myserver.com",
    "wwwUrl": "http://myserver.com",
    "dockerlogin": "test",
    "dockerpass": "testpass",
    "dockeremail": "test@test.com"
  },
  "providers": [
    {
      "id": "563347d6036d220c002a3474",
      "masterIntegrationId": "563347d6046d220c002a3474",
      "url": "https://foo.github.com",
      "name": "github-enterprise"
    },
    {
      "id": "56334736036d220c002a3474",
      "masterIntegrationId": "572af430ead9631100f7f64d",
      "url": "https://foo.bitbucket.com",
      "name": "bitbucket-server"
    }
  ],
  "systemIntegrations": [
    {
      "id": "574ee745d49b091400b76274",
      "name": "github.com",
      "formJSONValues": [
        {
          "label": "clientId",
          "value": "test"
        },
        {
          "label": "clientSecret",
          "value": "test"
        },
        {
          "label": "hostname",
          "value": "test"
        },
        {
          "label": "port",
          "value": "test"
        },
        {
          "label": "protocol",
          "value": "test"
        },
        {
          "label": "providerId",
          "value": "test"
        }
      ],
      "masterDisplayName": "github auth",
      "masterIntegrationId": "577de63321333398d11a35ac",
      "masterName": "github",
      "masterType": "auth",
      "isEnabled": true
    },
    {
      "id": "574ee745d49b091400b76275",
      "name": "bitbucket.com",
      "masterDisplayName": "bitbucket auth",
      "masterIntegrationId": "577de63321333398d11a35ad",
      "masterName": "bitbucket",
      "masterType": "auth",
      "formJSONValues": [
       {
         "label": "clientId",
         "value": "test"
       },
       {
         "label": "clientSecret",
         "value": "test"
       },
       {
         "label": "hostname",
         "value": "localhost"
       },
       {
         "label": "port",
         "value": "50001"
       },
       {
         "label": "protocol",
         "value": "http"
       },
       {
         "label": "providerId",
         "value": "562dbda348095b0d00ce6a43"
       }
      ],
      "isEnabled": true
    },
    {
      "id": "57cecf81c3d9bb70153d8247",
      "name": "amazons3",
      "masterDisplayName": "Amazon S3",
      "masterIntegrationId": "57cecf81c3d9bb70153d8249",
      "masterName": "amazons3",
      "masterType": "cloudproviders",
      "formJSONValues": [
       {
         "label": "bucketName",
         "value": "test"
       },
       {
         "label": "accessKey",
         "value": "test"
       },
       {
         "label": "secretKey",
         "value": "test"
       }
      ],
      "isEnabled": true
    },
    {
      "id": "57cecf81c3d9bb70153d8247",
      "name": "SMTP",
      "masterDisplayName": "SMTP",
      "masterIntegrationId": "57cecf81c3d9bb70153d8249",
      "masterName": "SMTP",
      "masterType": "notification",
      "formJSONValues": [
       {
         "label": "emailAuthUser",
         "value": "test"
       },
       {
         "label": "emailAuthPassword",
         "value": "test"
       },
       {
         "label": "emailSender",
         "value": "test"
       }
      ],
      "isEnabled": true
    },
    {
      "id": "57cecf81c3d9bb70153d8247",
      "name": "docker",
      "masterDisplayName": "hub",
      "masterIntegrationId": "57cecf81c3d9bb70153d8249",
      "masterName": "hub",
      "masterType": "hub",
      "formJSONValues": [
       {
         "label": "username",
         "value": "test"
       },
       {
         "label": "password",
         "value": "test"
       },
       {
         "label": "email",
         "value": "test"
       }
      ],
      "isEnabled": true
    }
  ],
  "services": [{
    "name": "api",
    "image": "shipimg/api50:server.5713",
    "envs": [
      "DBNAME",
      "DBUSERNAME",
      "DBPASSWORD",
      "DBHOST",
      "DBPORT",
      "DBDIALECT"
    ]
  },{
    "name": "www",
    "image": "shipimg/www50:server.5819",
    "envs": [
      "SHIPPABLE_API_TOKEN",
      "SHIPPABLE_VORTEX_URL",
      "SHIPPABLE_API_URL",
      "SHIPPABLE_WWW_PORT",
      "SHIPPABLE_WWW_URL",
      "SHIPPABLE_FE_URL",
      "LOG_LEVEL",
      "SHIPPABLE_RDS_URL",
      "SHIPPABLE_ROOT_AMQP_URL",
      "SHIPPABLE_AMQP_DEFAULT_EXCHANGE",
      "RUN_MODE",
      "SHIPPABLE_AWS_ACCOUNT_ID",
      "GITHUB_LINK_SYSINT_ID",
      "BITBUCKET_LINK_SYSINT_ID"
    ]
  },{
    "name": "sync",
    "image": "shipimg/micro50:sync.server.5298",
    "envs": [
      "BITBUCKET_CLIENT_ID",
      "BITBUCKET_CLIENT_SECRET",
      "SHIPPABLE_ROOT_AMQP_URL",
      "SHIPPABLE_AMQP_DEFAULT_EXCHANGE",
      "SHIPPABLE_API_URL",
      "SHIPPABLE_API_TOKEN",
      "RUN_MODE",
      "COMPONENT"
    ]
  },{
    "name": "jobTrigger",
    "image": "shipimg/micro50:jobTrigger.server.5298",
    "envs": [
      "SHIPPABLE_VORTEX_URL",
      "SHIPPABLE_WWW_URL",
      "SHIPPABLE_ROOT_AMQP_URL",
      "SHIPPABLE_AMQP_DEFAULT_EXCHANGE",
      "SHIPPABLE_API_URL",
      "SHIPPABLE_API_TOKEN",
      "RUN_MODE",
      "COMPONENT",
      "API_RETRY_INTERVAL"
    ]
  },{
    "name": "cron",
    "image": "shipimg/micro50:cron.server.5298",
    "envs": [
      "SHIPPABLE_ROOT_AMQP_URL",
      "SHIPPABLE_AMQP_DEFAULT_EXCHANGE",
      "SHIPPABLE_API_URL",
      "SHIPPABLE_API_TOKEN",
      "RUN_MODE",
      "COMPONENT",
      "DEFAULT_CRON_LOOP_HOURS"
    ]
  },{
    "name": "ec2",
    "image": "shipimg/micro50:ec2.server.5298",
    "envs": [
      "SHIPPABLE_ROOT_AMQP_URL",
      "SHIPPABLE_AMQP_DEFAULT_EXCHANGE",
      "SHIPPABLE_API_URL",
      "SHIPPABLE_API_TOKEN",
      "RUN_MODE",
      "COMPONENT",
      "SHIPPABLE_VORTEX_URL",
      "TRUCK"
    ]
  },{
    "name": "versionTrigger",
    "image": "shipimg/micro50:versionTrigger.server.5298",
    "envs": [
      "SHIPPABLE_ROOT_AMQP_URL",
      "SHIPPABLE_AMQP_DEFAULT_EXCHANGE",
      "SHIPPABLE_API_URL",
      "SHIPPABLE_API_TOKEN",
      "RUN_MODE",
      "COMPONENT",
      "SHIPPABLE_VORTEX_URL"
    ]
  }]
}
