{
  "installerVersion": "4.0.0",
  "shippableCustomerId" : "1234",
  "licenseKey": "secureLicenseKey",
  "release": "4.0.0",
  "systemSettings": {
    "domainProtocol": "http",
    "domain": "myserver.com",
    "defaultMinionCount": 1,
    "defaultPipelineCount": 1,
    "serverEnabled": true,
    "cachingEnabled": false,
    "hubspotEnabled": false,
    "buildTimeoutMS": 3600000,
    "defaultPrivateJobQuota": 150,
    "vaultRefreshTimeInSec": 900,
    "apiPort": 50000,
    "rootQueueList": "www.sockets|core.iscan|iscan.isync|iscan.esync|isync.autod|core.barge|barge.acs|barge.ddc|barge.dcl|barge.ecs|barge.gke|barge.triton|core.charon|versions.trigger|core.nf|nf.email|nf.hipchat|nf.irc|nf.slack|nf.webhook|core.braintree|core.certgen|core.hubspotSync|core.marshaller|marshaller.ec2|core.sync|job.request|job.trigger|micro.ini|cluster.init|steps.deploy|steps.manifest|steps.rSync|steps.release",
    "runMode": "dev",
    "apiUrl": "http://api.myserver.com",
    "wwwUrl": "http://myserver.com",
    "installerAccessKey": "xxx",
    "installerSecretKey": "xxx",
    "httpProxy": "",
    "httpsProxy": "",
    "noProxy": "",
    "execImage": "shipimg/mexec:master.3859",
    "runShImage": "374168611083.dkr.ecr.us-east-1.amazonaws.com/micro50:stepExec.v4.10.4"
  },
  "providers": [
    {
      "id": "563347d6036d220c002a3474",
      "masterIntegrationId": "563347d6046d220c002a3474",
      "url": "https://foo.github.com",
      "name": "ghe"
    },
    {
      "id": "56334736036d220c002a3474",
      "masterIntegrationId": "572af430ead9631100f7f64d",
      "url": "https://foo.bitbucket.com",
      "name": "bitbucketServer"
    }
  ],
  "systemIntegrations": [
    {
      "id": "574ee745d49b091400b76274",
      "name": "github.com",
      "formJSONValues": [
        {
          "label": "clientId",
          "value": "njfgfea8n6fd9a804555"
        },
        {
          "label": "clientSecret",
          "value": "bcK34cD6y6Ixr7wtfnoZh48auegzR6oHKA0SVgmH"
        },
        {
          "label": "hostname",
          "value": "myserver.com"
        },
        {
          "label": "port",
          "value": "50001"
        },
        {
          "label": "protocol",
          "value": "http"
        },
        {
          "label": "providerId",
          "value": "562dbd9710c5980d003b0451"
        }
      ],
      "masterDisplayName": "github auth",
      "masterIntegrationId": "577de63321333398d11a35ac",
      "masterName": "github",
      "masterType": "auth",
      "isEnabled": true
    },
    {
      "id": "574ee745d49b091400b76275",
      "name": "bitbucket.com",
      "masterDisplayName": "bitbucket auth",
      "masterIntegrationId": "577de63321333398d11a35ad",
      "masterName": "bitbucket",
      "masterType": "auth",
      "formJSONValues": [
       {
         "label": "clientId",
         "value": "njfgfea8n6fd9a804555"
       },
       {
         "label": "clientSecret",
         "value": "bcK34cD6y6Ixr7wtfnoZh48auegzR6oHKA0SVgmH"
       },
       {
         "label": "hostname",
         "value": "myserver.com"
       },
       {
         "label": "port",
         "value": "50001"
       },
       {
         "label": "protocol",
         "value": "http"
       },
       {
         "label": "providerId",
         "value": "562dbda348095b0d00ce6a43"
       }
      ],
      "isEnabled": true
    },
    {
      "id": "57cecf81c3d9bb70153d8247",
      "name": "amazons3",
      "masterDisplayName": "Amazon S3",
      "masterIntegrationId": "57cecf81c3d9bb70153d8249",
      "masterName": "amazons3",
      "masterType": "cloudproviders",
      "formJSONValues": [
       {
         "label": "bucketName",
         "value": "mybucket"
       },
       {
         "label": "accessKey",
         "value": "jun17DnKY8CMKbAy"
       },
       {
         "label": "secretKey",
         "value": "NnY96kbIDIbAWJun17DnKY8CMKbAy21sDAm9HQR0"
       }
      ],
      "isEnabled": true
    },
    {
      "id": "57cecf81c3d9bb72153d8247",
      "name": "SMTP",
      "masterDisplayName": "SMTP",
      "masterIntegrationId": "57cea8056ce9c71800d31ab3",
      "masterName": "SMTP",
      "masterType": "notification",
      "formJSONValues": [
       {
         "label": "emailAuthUser",
         "value": "user@myserver.com"
       },
       {
         "label": "emailAuthPassword",
         "value": "password"
       },
       {
         "label": "emailSender",
         "value": "User <sender@myserver.com>"
       },
       {
         "label": "emailServiceName",
         "value": "Mailgun"
       }
      ],
      "isEnabled": true
    },
    {
      "id": "57cecf81c349bb70153d8247",
      "name": "docker",
      "masterDisplayName": "hub",
      "masterIntegrationId": "5553a7ac3566980c00a3bf0e",
      "masterName": "hub",
      "masterType": "hub",
      "formJSONValues": [
       {
         "label": "username",
         "value": "user"
       },
       {
         "label": "password",
         "value": "password"
       },
       {
         "label": "email",
         "value": "user@domain.com"
       }
      ],
      "isEnabled": true
    },
    {
      "id": "57aaff3073ea26cb053fe1cb",
      "name": "ghe",
      "masterDisplayName": "github enterprise auth",
      "masterIntegrationId": "507f1f77bcf86cd799439011",
      "masterName": "githubEnterprise",
      "masterType": "auth",
      "formJSONValues": [
        {
          "label": "clientId",
          "value": "ksndfknds23423"
        },
        {
          "label": "clientSecret",
          "value": "jksdnfdskjfdss"
        },
        {
          "label": "hostname",
          "value": "foo.com"
        },
        {
          "label": "port",
          "value": "50001"
        },
        {
          "label": "protocol",
          "value": "http"
        },
        {
          "label": "providerId",
          "value": "563347d6036d220c002a3474"
        }
      ],
      "isEnabled": true
    },
    {
      "id": "507f191e810c19729de860ea",
      "name": "bitbucketServer",
      "masterDisplayName": "bitbucket server auth",
      "masterIntegrationId": "577de63321333398d11a35ae",
      "masterName": "bitbucketServer",
      "masterType": "auth",
      "formJSONValues": [
        {
          "label": "clientId",
          "value": "Shippable"
        },
        {
          "label": "clientSecret",
          "value": "private-key"
        },
        {
          "label": "hostname",
          "value": "foo.com"
        },
        {
          "label": "port",
          "value": "50001"
        },
        {
          "label": "protocol",
          "value": "http"
        },
        {
          "label": "providerId",
          "value": "56334736036d220c002a3474"
        },
        {
          "label": "requestTokenURL",
          "value": "https://foo.com/plugins/servlet/oauth/request-token"
        },
        {
          "label": "accessTokenURL",
          "value": "https://foo.com/plugins/servlet/oauth/access-token"
        },
        {
          "label": "userAuthorizationURL",
          "value": "https://foo.com/plugins/servlet/shippable-oauth/authorize"
        }
      ],
      "isEnabled": true
    }
  ],
  "services": [{
    "name": "api",
    "image": "374168611083.dkr.ecr.us-east-1.amazonaws.com/api50:v4.10.4",
    "envs": [
      "DBNAME",
      "DBUSERNAME",
      "DBPASSWORD",
      "DBHOST",
      "DBPORT",
      "DBDIALECT",
      "SHIPPABLE_API_URL",
      "RUN_MODE"
    ]
  },{
    "name": "www",
    "image": "374168611083.dkr.ecr.us-east-1.amazonaws.com/www50:v4.10.4",
    "envs": [
      "SHIPPABLE_API_TOKEN",
      "SHIPPABLE_VORTEX_URL",
      "SHIPPABLE_API_URL",
      "SHIPPABLE_WWW_PORT",
      "SHIPPABLE_WWW_URL",
      "SHIPPABLE_FE_URL",
      "LOG_LEVEL",
      "SHIPPABLE_RDS_URL",
      "SHIPPABLE_ROOT_AMQP_URL",
      "SHIPPABLE_AMQP_DEFAULT_EXCHANGE",
      "RUN_MODE",
      "SHIPPABLE_AWS_ACCOUNT_ID",
      "GITHUB_LINK_SYSINT_ID",
      "BITBUCKET_LINK_SYSINT_ID"
    ]
  },{
    "name": "sync",
    "image": "374168611083.dkr.ecr.us-east-1.amazonaws.com/micro50:sync.v4.10.4",
    "replicas": 2,
    "envs": [
      "BITBUCKET_CLIENT_ID",
      "BITBUCKET_CLIENT_SECRET",
      "SHIPPABLE_ROOT_AMQP_URL",
      "SHIPPABLE_AMQP_DEFAULT_EXCHANGE",
      "SHIPPABLE_API_URL",
      "SHIPPABLE_API_TOKEN",
      "RUN_MODE",
      "COMPONENT"
    ]
  },{
    "name": "ec2",
    "image": "374168611083.dkr.ecr.us-east-1.amazonaws.com/micro50:ec2.v4.10.4",
    "replicas": 1,
    "envs": [
      "SHIPPABLE_ROOT_AMQP_URL",
      "SHIPPABLE_AMQP_DEFAULT_EXCHANGE",
      "SHIPPABLE_API_URL",
      "SHIPPABLE_API_TOKEN",
      "RUN_MODE",
      "COMPONENT",
      "SHIPPABLE_VORTEX_URL",
      "TRUCK"
    ]
  },{
    "name": "versionTrigger",
    "image": "374168611083.dkr.ecr.us-east-1.amazonaws.com/micro50:versionTrigger.v4.10.4",
    "replicas": 1,
    "envs": [
      "SHIPPABLE_ROOT_AMQP_URL",
      "SHIPPABLE_AMQP_DEFAULT_EXCHANGE",
      "SHIPPABLE_API_URL",
      "SHIPPABLE_API_TOKEN",
      "RUN_MODE",
      "COMPONENT",
      "SHIPPABLE_VORTEX_URL"
    ]
  },{
    "name": "ini",
    "image": "374168611083.dkr.ecr.us-east-1.amazonaws.com/micro50:ini.v4.10.4",
    "replicas": 1,
    "envs": [
      "SHIPPABLE_API_TOKEN",
      "SHIPPABLE_VORTEX_URL",
      "SHIPPABLE_API_URL",
      "SHIPPABLE_ROOT_AMQP_URL",
      "SHIPPABLE_AMQP_DEFAULT_EXCHANGE",
      "RUN_MODE",
      "DOCKER_VERSION",
      "COMPONENT",
      "SETUP_RUN_SH",
      "EXEC_IMAGE"
    ]
  },{
    "name": "nexec",
    "image": "374168611083.dkr.ecr.us-east-1.amazonaws.com/nexec:v4.10.4",
    "replicas": 1,
    "envs": [
      "SHIPPABLE_API_TOKEN",
      "SHIPPABLE_VORTEX_URL",
      "SHIPPABLE_API_URL",
      "SHIPPABLE_ROOT_AMQP_URL",
      "SHIPPABLE_AMQP_DEFAULT_EXCHANGE",
      "RUN_MODE"
    ]
  },{
    "name": "cron",
    "image": "374168611083.dkr.ecr.us-east-1.amazonaws.com/micro50:cron.v4.10.4",
    "replicas": 1,
    "envs": [
      "SHIPPABLE_API_TOKEN",
      "SHIPPABLE_API_URL",
      "SHIPPABLE_ROOT_AMQP_URL",
      "SHIPPABLE_AMQP_DEFAULT_EXCHANGE",
      "RUN_MODE",
      "DEFAULT_CRON_LOOP_HOURS",
      "COMPONENT"
    ]
  },{
    "name": "jobrequest",
    "image": "374168611083.dkr.ecr.us-east-1.amazonaws.com/micro50:jobRequest.v4.10.4",
    "replicas": 1,
    "envs": [
      "BITBUCKET_CLIENT_ID",
      "BITBUCKET_CLIENT_SECRET",
      "SHIPPABLE_API_TOKEN",
      "SHIPPABLE_API_URL",
      "SHIPPABLE_ROOT_AMQP_URL",
      "SHIPPABLE_AMQP_DEFAULT_EXCHANGE",
      "SHIPPABLE_WWW_URL",
      "REGISTRY_ACCOUNT_ID",
      "REGISTRY_REGION",
      "RUN_MODE",
      "COMPONENT"
    ]
  },{
    "name": "jobtrigger",
    "image": "374168611083.dkr.ecr.us-east-1.amazonaws.com/micro50:jobTrigger.v4.10.4",
    "replicas": 1,
    "envs": [
      "SHIPPABLE_API_TOKEN",
      "SHIPPABLE_API_URL",
      "SHIPPABLE_ROOT_AMQP_URL",
      "SHIPPABLE_AMQP_DEFAULT_EXCHANGE",
      "SHIPPABLE_WWW_URL",
      "API_RETRY_INTERVAL",
      "RUN_MODE",
      "COMPONENT"
    ]
  },{
    "name": "marshaller",
    "image": "374168611083.dkr.ecr.us-east-1.amazonaws.com/micro50:marshaller.v4.10.4",
    "replicas": 1,
    "envs": [
      "SHIPPABLE_API_TOKEN",
      "SHIPPABLE_API_URL",
      "SHIPPABLE_ROOT_AMQP_URL",
      "SHIPPABLE_AMQP_DEFAULT_EXCHANGE",
      "SHIPPABLE_WWW_URL",
      "RUN_MODE",
      "PROVIDERS",
      "SHIPPABLE_EXEC_IMAGE",
      "COMPONENT"
    ]
  },{
    "name": "deploy",
    "image": "374168611083.dkr.ecr.us-east-1.amazonaws.com/micro50:stepExec.v4.10.4",
    "replicas": 3,
    "envs": [
      "SHIPPABLE_ROOT_AMQP_URL",
      "SHIPPABLE_AMQP_DEFAULT_EXCHANGE",
      "SHIPPABLE_API_URL",
      "SHIPPABLE_API_TOKEN",
      "JOB_TYPE",
      "RUN_MODE",
      "COMPONENT"
    ]
  },{
    "name": "release",
    "image": "374168611083.dkr.ecr.us-east-1.amazonaws.com/micro50:stepExec.v4.10.4",
    "replicas": 2,
    "envs": [
      "SHIPPABLE_ROOT_AMQP_URL",
      "SHIPPABLE_AMQP_DEFAULT_EXCHANGE",
      "SHIPPABLE_API_URL",
      "SHIPPABLE_API_TOKEN",
      "JOB_TYPE",
      "RUN_MODE",
      "COMPONENT"
    ]
  },{
    "name": "rSync",
    "image": "374168611083.dkr.ecr.us-east-1.amazonaws.com/micro50:stepExec.v4.10.4",
    "replicas": 2,
    "envs": [
      "SHIPPABLE_ROOT_AMQP_URL",
      "SHIPPABLE_AMQP_DEFAULT_EXCHANGE",
      "SHIPPABLE_API_URL",
      "SHIPPABLE_API_TOKEN",
      "BITBUCKET_CLIENT_ID",
      "BITBUCKET_CLIENT_SECRET",
      "JOB_TYPE",
      "RUN_MODE",
      "COMPONENT"
    ]
  },{
    "name": "manifest",
    "image": "374168611083.dkr.ecr.us-east-1.amazonaws.com/micro50:stepExec.v4.10.4",
    "replicas": 2,
    "envs": [
      "SHIPPABLE_ROOT_AMQP_URL",
      "SHIPPABLE_AMQP_DEFAULT_EXCHANGE",
      "SHIPPABLE_API_URL",
      "SHIPPABLE_API_TOKEN",
      "JOB_TYPE",
      "RUN_MODE",
      "COMPONENT"
    ]
  },{
    "name": "certgen",
    "image": "374168611083.dkr.ecr.us-east-1.amazonaws.com/micro50:certgen.v4.10.4",
    "replicas": 1,
    "envs": [
      "SHIPPABLE_API_TOKEN",
      "SHIPPABLE_VORTEX_URL",
      "SHIPPABLE_API_URL",
      "SHIPPABLE_ROOT_AMQP_URL",
      "SHIPPABLE_AMQP_DEFAULT_EXCHANGE",
      "RUN_MODE",
      "COMPONENT"
    ]
  },{
    "name": "charon",
    "image": "374168611083.dkr.ecr.us-east-1.amazonaws.com/micro50:charon.v4.10.4",
    "replicas": 1,
    "envs": [
      "SHIPPABLE_API_TOKEN",
      "SHIPPABLE_VORTEX_URL",
      "SHIPPABLE_API_URL",
      "SHIPPABLE_ROOT_AMQP_URL",
      "SHIPPABLE_AMQP_DEFAULT_EXCHANGE",
      "RUN_MODE",
      "COMPONENT"
    ]
  },{
    "name": "nf",
    "image": "374168611083.dkr.ecr.us-east-1.amazonaws.com/micro50:nf.v4.10.4",
    "replicas": 1,
    "envs": [
      "SHIPPABLE_API_TOKEN",
      "SHIPPABLE_WWW_URL",
      "SHIPPABLE_VORTEX_URL",
      "SHIPPABLE_API_URL",
      "SHIPPABLE_ROOT_AMQP_URL",
      "SHIPPABLE_AMQP_DEFAULT_EXCHANGE",
      "RUN_MODE",
      "COMPONENT"
    ]
  },{
    "name": "email",
    "image": "374168611083.dkr.ecr.us-east-1.amazonaws.com/micro50:email.v4.10.4",
    "replicas": 1,
    "envs": [
      "SHIPPABLE_API_TOKEN",
      "SHIPPABLE_WWW_URL",
      "SHIPPABLE_VORTEX_URL",
      "SHIPPABLE_API_URL",
      "SHIPPABLE_ROOT_AMQP_URL",
      "SHIPPABLE_AMQP_DEFAULT_EXCHANGE",
      "RUN_MODE",
      "COMPONENT"
    ]
  },{
    "name": "slack",
    "image": "374168611083.dkr.ecr.us-east-1.amazonaws.com/micro50:slack.v4.10.4",
    "replicas": 1,
    "envs": [
      "SHIPPABLE_API_TOKEN",
      "SHIPPABLE_WWW_URL",
      "SHIPPABLE_VORTEX_URL",
      "SHIPPABLE_API_URL",
      "SHIPPABLE_ROOT_AMQP_URL",
      "SHIPPABLE_AMQP_DEFAULT_EXCHANGE",
      "RUN_MODE",
      "COMPONENT"
    ]
  },{
    "name": "hipchat",
    "image": "374168611083.dkr.ecr.us-east-1.amazonaws.com/micro50:hipchat.v4.10.4",
    "replicas": 1,
    "envs": [
      "SHIPPABLE_API_TOKEN",
      "SHIPPABLE_WWW_URL",
      "SHIPPABLE_VORTEX_URL",
      "SHIPPABLE_API_URL",
      "SHIPPABLE_ROOT_AMQP_URL",
      "SHIPPABLE_AMQP_DEFAULT_EXCHANGE",
      "RUN_MODE",
      "COMPONENT"
    ]
  },{
    "name": "irc",
    "image": "374168611083.dkr.ecr.us-east-1.amazonaws.com/micro50:irc.v4.10.4",
    "replicas": 1,
    "envs": [
      "SHIPPABLE_API_TOKEN",
      "SHIPPABLE_WWW_URL",
      "SHIPPABLE_VORTEX_URL",
      "SHIPPABLE_API_URL",
      "SHIPPABLE_ROOT_AMQP_URL",
      "SHIPPABLE_AMQP_DEFAULT_EXCHANGE",
      "IRC_BOT_NICK",
      "RUN_MODE",
      "COMPONENT"
    ]
  },{
    "name": "webhook",
    "image": "374168611083.dkr.ecr.us-east-1.amazonaws.com/micro50:webhook.v4.10.4",
    "replicas": 1,
    "envs": [
      "SHIPPABLE_API_TOKEN",
      "SHIPPABLE_WWW_URL",
      "SHIPPABLE_VORTEX_URL",
      "SHIPPABLE_API_URL",
      "SHIPPABLE_ROOT_AMQP_URL",
      "SHIPPABLE_AMQP_DEFAULT_EXCHANGE",
      "RUN_MODE",
      "COMPONENT"
    ]
  }],
  "installStatus": {
    "machinesSSHSuccessful": false,
    "machinesBootstrapped": false,
    "databaseInstalled": false,
    "databaseInitialized": false,
    "vaultInstalled": false,
    "vaultInitialized": false,
    "rabbitmqInstalled": false,
    "rabbitmqInitialized": false,
    "gitlabInstalled": false,
    "gitlabInitialized": false,
    "dockerInstalled": false,
    "dockerInitialized": false,
    "swarmInstalled": false,
    "swarmInitialized": false,
    "redisInstalled": false,
    "redisInitialized": false,
    "serviceuserTokenGenerated": false,
    "dockerCredsUpdated": false,
    "systemConfigSqlCreated": false,
    "apiProvisioned": false,
    "systemConfigUpdated": false,
    "migrationsUpdated": false,
    "wwwInstalled": false,
    "wwwInitialized": false,
    "syncInstalled": false,
    "syncInitialized": false,
    "iniInstalled": false,
    "iniInitialized": false,
    "nexecInstalled": false,
    "nexecInitialized": false,
    "jobrequestInstalled": false,
    "jobrequestInitialized": false,
    "jobtriggerInstalled": false,
    "jobtriggerInitialized": false,
    "marshallerInstalled": false,
    "marshallerInitialized": false,
    "cronInstalled": false,
    "cronInitialized": false,
    "deployInstalled": false,
    "deployInitialized": false,
    "releaseInstalled": false,
    "releaseInitialized": false,
    "rSyncInstalled": false,
    "rSyncInitialized": false,
    "manifestInstalled": false,
    "manifestInitialized": false,
    "versionTriggerInstalled": false,
    "versionTriggerInitialized": false,
    "certgenInstalled": false,
    "certgenInitialized": false,
    "charonInstalled": false,
    "charonInitialized": false,
    "routePermissionsUpdated": false,
    "nfInstalled": false,
    "nfInitialized": false,
    "emailInstalled": false,
    "emailInitialized": false,
    "slackInstalled": false,
    "slackInitialized": false,
    "hipchatInstalled": false,
    "hipchatInitialized": false,
    "ircInstalled": false,
    "ircInitialized": false,
    "webhookInstalled": false,
    "webhookInitialized": false,
    "ecrInstalled": false,
    "ecrInitialized": false
  }
}
