{
  "services": [
    {
      "name": "api",
      "url": "",
      "status": "running",
      "port": "--publish 50000:50000/tcp",
      "env": "-e FOO=bar -e FOO1=bar1",
      "opts": "--mode global --network ingress"
    }
  ],
  "systemIntegrations": [],
  "systemSettings": {
    "runMode": "debug",
    "domain": "myserver.com",
    "protocol": "http",
    "serverEnabled": true,
    "cachingEnabled": false,
    "hubspotEnabled": false,
    "buildTimeoutMS": 3600000,
    "defaultPrivateJobQuota": 150,
    "vaultRefreshTimeInSec": 900,
    "vaultUrl": "",
    "vaultToken": "",
    "redisUrl": "",
    "defaultPipelineCount": 1,
    "defaultMinionCount": 1,
    "dbname": "shipdb",
    "dbPassword": "testing1234",
    "dbUsername": "apiuser",
    "dbHost": "",
    "dbPort": 5432,
    "dbDialect": "postgres",
    "amqpUrl": "amqp://user:pass@host:5672/shippable",
    "amqpUrlRoot": "amqp://user:pass@host:5672/shippableRoot",
    "amqpUrlAdmin": "amqp://user:pass@host:15672",
    "amqpDefaultExchange": "shippableEx",
    "apiUrl": "http://api.domain:5000",
    "apiPort": "50000",
    "wwwUrl": "http://domain",
    "serviceUserToken": "",
    "swarmWorkerToken": "",
    "rootQueueList": "www.sockets|core.charon|versions.trigger|core.nf|nf.email|core.braintree|core.certgen|core.marshaller|marshaller.ec2|core.sync|job.request|job.trigger|micro.ini|cluster.init|steps.deploy|steps.manifest|steps.rSync|steps.release"
  },
  "installStatus": {},
  "machines": [
    {
      "name": "db",
      "ip": "45.55.49.134",
      "keysUpdated": "false",
      "sshSuccessful": "false",
      "isConsistent": "false"
    },
    {
      "name": "swarm",
      "ip": "45.55.49.134",
      "keysUpdated": "false",
      "sshSuccessful": "false",
      "isConsistent": "false"
    },
    {
      "name": "services1",
      "ip": "45.55.49.134",
      "keysUpdated": "false",
      "sshSuccessful": "false",
      "isConsistent": "false"
    },
    {
      "name": "services2",
      "ip": "45.55.49.134",
      "keysUpdated": "false",
      "sshSuccessful": "false",
      "isConsistent": "false"
    }
  ],
  "release": "4.0.0",
  "providers": []
}
